
/*------------------------------------
	âƒ	ORCHIDPERFECT TEMPLATE
(appearance: color pop mederate)
Five colors namely:
brightest-Soft lilac(BG #f6ebf4)
brighter-Turquoise(#4cbfa6)
bright-Orchid(#ed0b70)
deep-Dark purple(#482673)
deeper-digi denim(Dark #023b59)
------------------------------------*/





/*------------------------------------
- COLOR brightest
------------------------------------*/
.alert-brightest {
    color: #d096c5;
    background-color: #135177141;
    border-color: #12e169139;
}

.alert-brightest hr {
    border-top-color: #12715812f;
}

.alert-brightest .alert-link {
    color: #c073b2;
}

.badge-brightest {
    color: #212529;
    background-color: #f6ebf4;
}

.badge-brightest[href]:hover, .badge-brightest[href]:focus {
    color: #212529;
    background-color: #e6c7e0;
}

.bg-brightest {
    background-color: #f6ebf4 !important;
}

a.bg-brightest:hover, a.bg-brightest:focus,
button.bg-brightest:hover,
button.bg-brightest:focus {
    background-color: #e6c7e0 !important;
}

.border-brightest {
    border-color: #f6ebf4 !important;
}

.btn-brightest {
    color: #212529;
    background-color: #f6ebf4;
    border-color: #f6ebf4;
}

.btn-brightest:hover {
    color: #212529;
    background-color: #ead2e6;
    border-color: #e6c7e0;
}

.btn-brightest:focus, .btn-brightest.focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 235, 244, 0.5);
}

.btn-brightest.disabled, .btn-brightest:disabled {
    color: #212529;
    background-color: #f6ebf4;
    border-color: #f6ebf4;
}

.btn-brightest:not(:disabled):not(.disabled):active, .btn-brightest:not(:disabled):not(.disabled).active, .show > .btn-brightest.dropdown-toggle {
    color: #212529;
    background-color: #e6c7e0;
    border-color: #e1bdda;
}

.btn-brightest:not(:disabled):not(.disabled):active:focus, .btn-brightest:not(:disabled):not(.disabled).active:focus, .show > .btn-brightest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 235, 244, 0.5);
}

.btn-outline-brightest {
    color: #f6ebf4;
    background-color: transparent;
    border-color: #f6ebf4;
}

.btn-outline-brightest:hover {
    color: #212529;
    background-color: #f6ebf4;
    border-color: #f6ebf4;
}

.btn-outline-brightest:focus, .btn-outline-brightest.focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 235, 244, 0.5);
}

.btn-outline-brightest.disabled, .btn-outline-brightest:disabled {
    color: #f6ebf4;
    background-color: transparent;
}

.btn-outline-brightest:not(:disabled):not(.disabled):active, .btn-outline-brightest:not(:disabled):not(.disabled).active, .show > .btn-outline-brightest.dropdown-toggle {
    color: #212529;
    background-color: #f6ebf4;
    border-color: #f6ebf4;
}

.btn-outline-brightest:not(:disabled):not(.disabled):active:focus, .btn-outline-brightest:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brightest.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 235, 244, 0.5);
}

.list-group-item-brightest {
    color: #d096c5;
    background-color: #12e169139;
}

.list-group-item-brightest.list-group-item-action:hover, .list-group-item-brightest.list-group-item-action:focus {
    color: #d096c5;
    background-color: #12715812f;
}

.list-group-item-brightest.list-group-item-action.active {
    color: #212529;
    background-color: #d096c5;
    border-color: #d096c5;
}

.table-brightest,
.table-brightest > th,
.table-brightest > td {
    background-color: #12e169139;
}

.table-hover .table-brightest:hover {
    background-color: #12715812f;
}

.table-hover .table-brightest:hover > td,
.table-hover .table-brightest:hover > th {
    background-color: #12715812f;
}

.text-brightest {
    color: #f6ebf4 !important;
}

a.text-brightest:hover, a.text-brightest:focus {
    color: #e6c7e0 !important;
}







/*------------------------------------
- COLOR brighter
------------------------------------*/
.alert-brighter {
    color: #266a5f;
    background-color: #e2f4f1;
    border-color: #d3efea;
}

.alert-brighter hr {
    border-top-color: #c0e8e2;
}

.alert-brighter .alert-link {
    color: #18443d;
}

.badge-brighter {
    color: #212529;
    background-color: #4cbfac;
}

.badge-brighter[href]:hover, .badge-brighter[href]:focus {
    color: #212529;
    background-color: #389f8e;
}

.bg-brighter {
    background-color: #4cbfac !important;
}

a.bg-brighter:hover, a.bg-brighter:focus,
button.bg-brighter:hover,
button.bg-brighter:focus {
    background-color: #389f8e !important;
}

.border-brighter {
    border-color: #4cbfac !important;
}

.btn-brighter {
    color: #212529;
    background-color: #4cbfac;
    border-color: #4cbfac;
}

.btn-brighter:hover {
    color: #212529;
    background-color: #3caa98;
    border-color: #389f8e;
}

.btn-brighter:focus, .btn-brighter.focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 191, 172, 0.5);
}

.btn-brighter.disabled, .btn-brighter:disabled {
    color: #212529;
    background-color: #4cbfac;
    border-color: #4cbfac;
}

.btn-brighter:not(:disabled):not(.disabled):active, .btn-brighter:not(:disabled):not(.disabled).active, .show > .btn-brighter.dropdown-toggle {
    color: #212529;
    background-color: #389f8e;
    border-color: #349384;
}

.btn-brighter:not(:disabled):not(.disabled):active:focus, .btn-brighter:not(:disabled):not(.disabled).active:focus, .show > .btn-brighter.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 191, 172, 0.5);
}

.btn-outline-brighter {
    color: #4cbfac;
    background-color: transparent;
    border-color: #4cbfac;
}

.btn-outline-brighter:hover {
    color: #212529;
    background-color: #4cbfac;
    border-color: #4cbfac;
}

.btn-outline-brighter:focus, .btn-outline-brighter.focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 191, 172, 0.5);
}

.btn-outline-brighter.disabled, .btn-outline-brighter:disabled {
    color: #4cbfac;
    background-color: transparent;
}

.btn-outline-brighter:not(:disabled):not(.disabled):active, .btn-outline-brighter:not(:disabled):not(.disabled).active, .show > .btn-outline-brighter.dropdown-toggle {
    color: #212529;
    background-color: #4cbfac;
    border-color: #4cbfac;
}

.btn-outline-brighter:not(:disabled):not(.disabled):active:focus, .btn-outline-brighter:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brighter.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 191, 172, 0.5);
}

.list-group-item-brighter {
    color: #266a5f;
    background-color: #d3efea;
}

.list-group-item-brighter.list-group-item-action:hover, .list-group-item-brighter.list-group-item-action:focus {
    color: #266a5f;
    background-color: #c0e8e2;
}

.list-group-item-brighter.list-group-item-action.active {
    color: #212529;
    background-color: #266a5f;
    border-color: #266a5f;
}

.table-brighter,
.table-brighter > th,
.table-brighter > td {
    background-color: #d3efea;
}

.table-hover .table-brighter:hover {
    background-color: #c0e8e2;
}

.table-hover .table-brighter:hover > td,
.table-hover .table-brighter:hover > th {
    background-color: #c0e8e2;
}

.text-brighter {
    color: #4cbfac !important;
}

a.text-brighter:hover, a.text-brighter:focus {
    color: #389f8e !important;
}







/*------------------------------------
- COLOR bright
------------------------------------*/
.alert-bright {
    color: #780538;
    background-color: #fcc7df;
    border-color: #fbb4d4;
}

.alert-bright hr {
    border-top-color: #fa9bc6;
}

.alert-bright .alert-link {
    color: #470321;
}

.badge-bright {
    color: #fff;
    background-color: #ed0b70;
}

.badge-bright[href]:hover, .badge-bright[href]:focus {
    color: #fff;
    background-color: #bc0858;
}

.bg-bright {
    background-color: #ed0b70 !important;
}

a.bg-bright:hover, a.bg-bright:focus,
button.bg-bright:hover,
button.bg-bright:focus {
    background-color: #bc0858 !important;
}

.border-bright {
    border-color: #ed0b70 !important;
}

.btn-bright {
    color: #fff;
    background-color: #ed0b70;
    border-color: #ed0b70;
}

.btn-bright:hover {
    color: #fff;
    background-color: #ca095f;
    border-color: #bc0858;
}

.btn-bright:focus, .btn-bright.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 11, 112, 0.5);
}

.btn-bright.disabled, .btn-bright:disabled {
    color: #fff;
    background-color: #ed0b70;
    border-color: #ed0b70;
}

.btn-bright:not(:disabled):not(.disabled):active, .btn-bright:not(:disabled):not(.disabled).active, .show > .btn-bright.dropdown-toggle {
    color: #fff;
    background-color: #bc0858;
    border-color: #ad0852;
}

.btn-bright:not(:disabled):not(.disabled):active:focus, .btn-bright:not(:disabled):not(.disabled).active:focus, .show > .btn-bright.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 11, 112, 0.5);
}

.btn-outline-bright {
    color: #ed0b70;
    background-color: transparent;
    border-color: #ed0b70;
}

.btn-outline-bright:hover {
    color: #fff;
    background-color: #ed0b70;
    border-color: #ed0b70;
}

.btn-outline-bright:focus, .btn-outline-bright.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 11, 112, 0.5);
}

.btn-outline-bright.disabled, .btn-outline-bright:disabled {
    color: #ed0b70;
    background-color: transparent;
}

.btn-outline-bright:not(:disabled):not(.disabled):active, .btn-outline-bright:not(:disabled):not(.disabled).active, .show > .btn-outline-bright.dropdown-toggle {
    color: #fff;
    background-color: #ed0b70;
    border-color: #ed0b70;
}

.btn-outline-bright:not(:disabled):not(.disabled):active:focus, .btn-outline-bright:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-bright.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 11, 112, 0.5);
}

.list-group-item-bright {
    color: #780538;
    background-color: #fbb4d4;
}

.list-group-item-bright.list-group-item-action:hover, .list-group-item-bright.list-group-item-action:focus {
    color: #780538;
    background-color: #fa9bc6;
}

.list-group-item-bright.list-group-item-action.active {
    color: #fff;
    background-color: #780538;
    border-color: #780538;
}

.table-bright,
.table-bright > th,
.table-bright > td {
    background-color: #fbb4d4;
}

.table-hover .table-bright:hover {
    background-color: #fa9bc6;
}

.table-hover .table-bright:hover > td,
.table-hover .table-bright:hover > th {
    background-color: #fa9bc6;
}

.text-bright {
    color: #ed0b70 !important;
}

a.text-bright:hover, a.text-bright:focus {
    color: #bc0858 !important;
}







/*------------------------------------
- COLOR deep
------------------------------------*/
.alert-deep {
    color: #0e0717;
    background-color: #ae8bd9;
    border-color: #a37cd3;
}

.alert-deep hr {
    border-top-color: #9569cd;
}

.alert-deep .alert-link {
    color: #000000;
}

.badge-deep {
    color: #fff;
    background-color: #482673;
}

.badge-deep[href]:hover, .badge-deep[href]:focus {
    color: #fff;
    background-color: #30194c;
}

.bg-deep {
    background-color: #482673 !important;
}

a.bg-deep:hover, a.bg-deep:focus,
button.bg-deep:hover,
button.bg-deep:focus {
    background-color: #30194c !important;
}

.border-deep {
    border-color: #482673 !important;
}

.btn-deep {
    color: #fff;
    background-color: #482673;
    border-color: #482673;
}

.btn-deep:hover {
    color: #fff;
    background-color: #371d58;
    border-color: #30194c;
}

.btn-deep:focus, .btn-deep.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 38, 115, 0.5);
}

.btn-deep.disabled, .btn-deep:disabled {
    color: #fff;
    background-color: #482673;
    border-color: #482673;
}

.btn-deep:not(:disabled):not(.disabled):active, .btn-deep:not(:disabled):not(.disabled).active, .show > .btn-deep.dropdown-toggle {
    color: #fff;
    background-color: #30194c;
    border-color: #281541;
}

.btn-deep:not(:disabled):not(.disabled):active:focus, .btn-deep:not(:disabled):not(.disabled).active:focus, .show > .btn-deep.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 38, 115, 0.5);
}

.btn-outline-deep {
    color: #482673;
    background-color: transparent;
    border-color: #482673;
}

.btn-outline-deep:hover {
    color: #fff;
    background-color: #482673;
    border-color: #482673;
}

.btn-outline-deep:focus, .btn-outline-deep.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 38, 115, 0.5);
}

.btn-outline-deep.disabled, .btn-outline-deep:disabled {
    color: #482673;
    background-color: transparent;
}

.btn-outline-deep:not(:disabled):not(.disabled):active, .btn-outline-deep:not(:disabled):not(.disabled).active, .show > .btn-outline-deep.dropdown-toggle {
    color: #fff;
    background-color: #482673;
    border-color: #482673;
}

.btn-outline-deep:not(:disabled):not(.disabled):active:focus, .btn-outline-deep:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-deep.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 38, 115, 0.5);
}

.list-group-item-deep {
    color: #0e0717;
    background-color: #a37cd3;
}

.list-group-item-deep.list-group-item-action:hover, .list-group-item-deep.list-group-item-action:focus {
    color: #0e0717;
    background-color: #9569cd;
}

.list-group-item-deep.list-group-item-action.active {
    color: #fff;
    background-color: #0e0717;
    border-color: #0e0717;
}

.table-deep,
.table-deep > th,
.table-deep > td {
    background-color: #a37cd3;
}

.table-hover .table-deep:hover {
    background-color: #9569cd;
}

.table-hover .table-deep:hover > td,
.table-hover .table-deep:hover > th {
    background-color: #9569cd;
}

.text-deep {
    color: #482673 !important;
}

a.text-deep:hover, a.text-deep:focus {
    color: #30194c !important;
}








/*------------------------------------
- COLOR deeper
------------------------------------*/
.alert-deeper {
    color: #000000;
    background-color: #2cb3fa;
    border-color: #18acf9;
}

.alert-deeper hr {
    border-top-color: #05a1f3;
}

.alert-deeper .alert-link {
    color: #000000;
}

.badge-deeper {
    color: #fff;
    background-color: #023b59;
}

.badge-deeper[href]:hover, .badge-deeper[href]:focus {
    color: #fff;
    background-color: #001927;
}

.bg-deeper {
    background-color: #023b59 !important;
}

a.bg-deeper:hover, a.bg-deeper:focus,
button.bg-deeper:hover,
button.bg-deeper:focus {
    background-color: #001927 !important;
}

.border-deeper {
    border-color: #023b59 !important;
}

.btn-deeper {
    color: #fff;
    background-color: #023b59;
    border-color: #023b59;
}

.btn-deeper:hover {
    color: #fff;
    background-color: #012336;
    border-color: #001927;
}

.btn-deeper:focus, .btn-deeper.focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 59, 89, 0.5);
}

.btn-deeper.disabled, .btn-deeper:disabled {
    color: #fff;
    background-color: #023b59;
    border-color: #023b59;
}

.btn-deeper:not(:disabled):not(.disabled):active, .btn-deeper:not(:disabled):not(.disabled).active, .show > .btn-deeper.dropdown-toggle {
    color: #fff;
    background-color: #001927;
    border-color: #001018;
}

.btn-deeper:not(:disabled):not(.disabled):active:focus, .btn-deeper:not(:disabled):not(.disabled).active:focus, .show > .btn-deeper.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 59, 89, 0.5);
}

.btn-outline-deeper {
    color: #023b59;
    background-color: transparent;
    border-color: #023b59;
}

.btn-outline-deeper:hover {
    color: #fff;
    background-color: #023b59;
    border-color: #023b59;
}

.btn-outline-deeper:focus, .btn-outline-deeper.focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 59, 89, 0.5);
}

.btn-outline-deeper.disabled, .btn-outline-deeper:disabled {
    color: #023b59;
    background-color: transparent;
}

.btn-outline-deeper:not(:disabled):not(.disabled):active, .btn-outline-deeper:not(:disabled):not(.disabled).active, .show > .btn-outline-deeper.dropdown-toggle {
    color: #fff;
    background-color: #023b59;
    border-color: #023b59;
}

.btn-outline-deeper:not(:disabled):not(.disabled):active:focus, .btn-outline-deeper:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-deeper.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 59, 89, 0.5);
}

.list-group-item-deeper {
    color: #000000;
    background-color: #18acf9;
}

.list-group-item-deeper.list-group-item-action:hover, .list-group-item-deeper.list-group-item-action:focus {
    color: #000000;
    background-color: #05a1f3;
}

.list-group-item-deeper.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-deeper,
.table-deeper > th,
.table-deeper > td {
    background-color: #18acf9;
}

.table-hover .table-deeper:hover {
    background-color: #05a1f3;
}

.table-hover .table-deeper:hover > td,
.table-hover .table-deeper:hover > th {
    background-color: #05a1f3;
}

.text-deeper {
    color: #023b59 !important;
}

a.text-deeper:hover, a.text-deeper:focus {
    color: #001927 !important;
}
